<div class="container-auth">
  <div class="wrap-auth">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
      <div class="p-card">
        <span class="logo">
          <i data-icon="󰗣"></i>
        </span>

        <span class="title">Регистрация</span>

        <div class="input-block" [ngClass]="{'alert-validate': form.get('email').invalid && form.get('email').touched}">
          <input class="input" type="text" placeholder="E-mail" formControlName="email" required="required">
          <span class="focus-input" data-placeholder="󰇮"></span>
          <div class="validation">
            <small *ngIf="form.get('email').errors?.required">
              Поле email не может быть пустым
            </small>

            <small *ngIf="form.get('email').errors?.email">
              Введите корректный email
            </small>
          </div>
        </div>

        <div class="input-block" [ngClass]="{'alert-validate': form.get('login').invalid && form.get('login').touched}">
          <input class="input" type="text" placeholder="Логин" formControlName="login" required="required">
          <span class="focus-input" data-placeholder="󰀄"></span>
          <div class="validation">
            <small *ngIf="form.get('login').errors?.required">
              Поле Логин не может быть пустым
            </small>

            <small *ngIf="form.get('login').errors?.minlength">
              Длинна должна быть не менее {{form.get('login').errors.minlength.requiredLength}} символов
            </small>

            <!-- <small *ngIf="form.get('login').errors.uniqLogin">
              Логин {{form.get('login').value}} занят
            </small> -->
          </div>
        </div>

        <div class="input-block" [ngClass]="{'alert-validate': form.get('password').invalid && form.get('password').touched}">
          <input class="input" type="password" placeholder="Пароль" formControlName="password" required="required">
          <span class="focus-input" data-placeholder="󰌾"></span>
          <div class="validation">
            <small *ngIf="form.get('password').errors?.required">
              Поле Пароль не может быть пустым
            </small>

            <small *ngIf="form.get('password').errors?.minlength">
              Длинна должна быть не менее {{form.get('password').errors.minlength.requiredLength}} символов
            </small>
          </div>
        </div>

        <div class="input-block" [ngClass]="{'alert-validate': form.errors?.repeatPassword && form.get('repeatPassword').touched}">
          <input class="input" type="password" placeholder="Повторите пароль" formControlName="repeatPassword" required="required">
          <span class="focus-input" data-placeholder="󰌾"></span>
          <div class="validation">
            <small *ngIf="form.errors?.repeatPassword">
              Пароли не совпадают
            </small>
          </div>
        </div>

        <div class="control">
          <button class="btn" type="submit">Регистрация</button>
        </div>
      </div>

      <hr />

      <div class="forgot">
        <small>Есть аккаунт?</small>
        <a routerLink="/login">Вход</a>
      </div>

    </form>
  </div>
</div>
