.container-auth {
  .wrap-auth {
    form {
      .forgot {
        padding-top: 30px;
        text-align: center;
        a {
          font-size: 13px;
          color: #e5e5e5;
          line-height: 1.5;
        }
      }
    }
  }
}