<div class="container">
  <div class="wrap-login">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">

      <span class="logo">
        <i></i>
      </span>

      <span class="title">Авторизация</span>

      <div class="input-block">
        <input class="input" type="text" placeholder="Логин" formControlName="login" required="required">
        <span class="focus-input" data-placeholder=""></span>
      </div>

      <div class="input-block">
        <input class="input" type="password" placeholder="Пароль" formControlName="password" required="required">
        <span class="focus-input" data-placeholder=""></span>
      </div>

      <div class="control">
        <button class="btn" type="submit" [disabled]="form.invalid || form.pending">Вход</button>
      </div>

      <div class="forgot">
        <a>
          Забыли пароль?
        </a>
      </div>
    </form>
  </div>
</div>



