<div class="content">
  <div style="background-color: #a7b4b4; height: 100px; display: flex; justify-content: flex-end; align-items: center; padding-right: 20px;">
    <a routerLink="login">Выход</a>
  </div>

  <ms-infinite-scroll (scrolled)="getPhotos()" class="infinite-scroll-with-root">
    <div *ngIf="photos.length" class="photos">
      <div *ngFor="let photo of photos">
        <div class="photo" [class]="likePhotoIds.includes(photo.id) ? 'like' : ''">
          <img [src]="photo.urls.small">
          <i (click)="onClick(photo.id)"></i>
        </div>
      </div>
    </div> 
  </ms-infinite-scroll>
</div>
