@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url('assets/fonts/Material-Design-Iconic-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #fff;
  color: #333;
}

body, html {
	height: 100%;
}

input {
	outline: none;
	border: none;
}

input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #fff;
}

a:hover, button:hover {
	cursor: pointer;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}